$light1: #909090;

$dark1: #505050;
$dark2: #303030;

$gow1: #1C3D59;
$gow2: #4A96D9;
$gow3: #4e6172;
$gow4: #9CBCD9;
$gow5: #BFA575;

$doom1: #d1303e;
$doom2: #F2CA52;
$doom3: #BF5315;
$doom4: #D92B04;
$doom5: #400101;