@import "./mixins";
@import "./variables";
@import "./functions";

.square-1 {
    position: absolute;
    background-color: $gow4;
    transition: 0.2s all;
}

.square-2{
    position: absolute;
    background-color: $doom4;
    transition: 0.2s all;
}

.circle-1 {
    position: absolute;
    background-color: $gow5;
    border-radius: 50%;
    transition: 0.2s all;
}

.circle-2{
    position: absolute;
    background-color: $doom5;
    border-radius: 50%;
    transition: 0.2s all;
}