@import "./assets/css/mixins";
@import "./assets/css/variables";
@import "./assets/css/functions";
@import "./assets/css/main-grid.scss";
@import "./assets/css/random-grid.scss";

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  @include center-element();
}
